In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('illiteracy.txt', sep='\t')

In [5]:
df.corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [7]:
df.corr(method='spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [15]:
water_df = pd.read_csv('water.txt', sep='\t')
water_df.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [13]:
water_df.corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [14]:
water_df.corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [24]:
water_df.loc[water_df['location'] == 'South'].corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [26]:
water_df.loc[water_df['location'] == 'North'].corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [30]:
from scipy import stats
obs = np.array([[239, 203], [515, 718]])
stats.chi2_contingency(obs)

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[198.96597015, 243.03402985],
        [555.03402985, 677.96597015]]))

In [37]:
def two_proprotions_test(success_a, size_a, success_b, size_b):
    """
    A/B test for two proportions;
    given a success a trial size of group A and B compute
    its zscore and pvalue
    
    Parameters
    ----------
    success_a, success_b : int
        Number of successes in each group
        
    size_a, size_b : int
        Size, or number of observations in each group
    
    Returns
    -------
    zscore : float
        test statistic for the two proportion z-test

    pvalue : float
        p-value for the two proportion z-test
    """
    prop_a = success_a / size_a
    prop_b = success_b / size_b
    prop_pooled = (success_a + success_b) / (size_a + size_b)
    var = prop_pooled * (1 - prop_pooled) * (1 / size_a + 1 / size_b)
    zscore = np.abs(prop_b - prop_a) / np.sqrt(var)
    one_side = 1 - stats.norm(loc = 0, scale = 1).cdf(zscore)
    pvalue = one_side * 2
    return zscore, pvalue

In [34]:
def two_proprotions_confint(success_a, size_a, success_b, size_b, significance = 0.05):
    """
    A/B test for two proportions;
    given a success a trial size of group A and B compute
    its confidence interval;
    resulting confidence interval matches R's prop.test function
    
    Parameters
    ----------
    success_a, success_b : int
        Number of successes in each group
        
    size_a, size_b : int
        Size, or number of observations in each group
        
    significance : float, default 0.05
        Often denoted as alpha. Governs the chance of a false positive.
        A significance level of 0.05 means that there is a 5% chance of
        a false positive. In other words, our confidence level is
        1 - 0.05 = 0.95
        
    Returns
    -------
    prop_diff : float
        Difference between the two proportion
    
    confint : 1d ndarray
        Confidence interval of the two proportion test
    """
    prop_a = success_a / size_a
    prop_b = success_b / size_b
    var = prop_a * (1 - prop_a) / size_a + prop_b * (1 - prop_b) / size_b
    se = np.sqrt(var)
    
    # z critical value
    confidence = 1 - significance
    z = stats.norm(loc = 0, scale = 1).ppf(confidence + significance / 2)

    # standard formula for the confidence interval
    # point-estimtate +- z * standard-error
    prop_diff = prop_b - prop_a
    confint = prop_diff + np.array([-1, 1]) * z * se
    return prop_diff, confint

success_a = 203
size_a = 921
success_b = 239
size_b = 754

prop_diff, confint = two_proprotions_confint(success_a, size_a, success_b, size_b)
print('estimate difference:', prop_diff)
print('confidence interval:', confint)

estimate difference: 0.09656353231552606
confidence interval: [0.05390523 0.13922183]

In [41]:
zscore, pvalue = two_proprotions_test(success_a, size_a, success_b, size_b)
print('zscore = {:.4f}, pvalue = {:.10f}'.format(zscore, pvalue))

zscore = 4.4611, pvalue = 0.0000081535

In [55]:
obs_3 = np.array([[197, 111, 33], [382, 685, 331], [110, 342, 333]])
print(stats.chi2_contingency(obs_3))
print(np.sqrt(stats.chi2_contingency(obs_3)[0] / (obs_3.sum() * 2)))

(293.68311039689746, 2.4964299580093467e-62, 4, array([[ 93.08597464, 153.74722662,  94.16679873],
       [381.6251981 , 630.318542  , 386.0562599 ],
       [214.28882726, 353.93423138, 216.77694136]]))
0.2412013934500338

In [51]:
obs_3.sum()

2524