In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [12]:
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
df = df.append(df2)

In [13]:
dat = df.append(df2).melt()

In [15]:
dat.drop(6, inplace=True)

In [16]:
dat

  variable  value
0        A      5
1        A      7
2        A      5
3        A      7
4        B      6
5        B      8
7        B      8

In [19]:
dat.pivot(columns='variable', values='value')

variable    A    B
0         5.0  NaN
1         7.0  NaN
2         5.0  NaN
3         7.0  NaN
4         NaN  6.0
5         NaN  8.0
7         NaN  8.0